#warning {
    display: none;
    color: #FF0000;
}
#game {
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

#leaderboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: lightgray;
}

body {
    text-align: center;    
    background: radial-gradient(circle, 
    rgba(0,17,36,0.9248291571753986) 50%, rgba(121,9,35,1) 80%, rgba(0,212,255,1) 90%);
    }

    .mainText {
    background-color: lightgray;
    }
    
    #nameLabel {
        color: lightgray;
    }

#board {
    display: block;    
    border: 2px solid #333;
    width: 48vw; /* Roughly half the viewport width */
    /* Maintain aspect ratio by calculating height based on width */
    height: calc(48vw / (480 / 320)); /* Adjust this ratio (canvas width / canvas height) */
    background: #000;
    display: block; /* Remove extra space below canvas */
    margin: 20px auto;    
    box-sizing: border-box; /* Ensures border is included in the size */
    }
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: lightgray;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: lightgray;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: lightgray; 
}

#dialogMessage {
    font-family: Arial, sans-serif;
    color: black;
}

.ui-dialog-titlebar {
    background: #3498db;
    color: white;
}

.ui-dialog-buttonpane button {
    background: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
}

table {
    display: inline;
}

#leaderboardSection {
    display: block; /* Display leaderboard initially */
    margin: 20px 0;
}

#leaderboardSection.hidden {
    display: none; /* Hide when the game starts */
}
